/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #eeeff1;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="submit"] {
  background-color: #fe5b3d;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #ffac38;
}

.link {
  text-align: center;
}

.link a {
  color: #474fa0;
  text-decoration: underline;
}

.link a:hover {
  color: #333;
}
